---
Title: Cake Addin Analyzer
NoSidebar: true
NoContainer: false
NoGutter: false
---

<div class="container-fluid">
	<h1>What is it?</h1>
	<p>
		Cake Addin Analyzer is a roslyn analyzer for analyzing a addin project regarding recommended and required rules
		that each addin is expected to follow.
	</p>

	<h2>Where to get it</h2>
	<p>
		Officially published versions are available on
		<a href="https://www.nuget.org/packages/Cake.Addin.Analyzer/" target="_blank">
			NuGet
		</a>.
		While development versions are made available on
		<a href="https://feedz.io/org/wormiecorp/repository/packages/packages/Cake.Addin.Analyzer">
			feedz.io (https://feedz.io/org/wormiecorp/repository/packages/packages/Cake.Addin.Analyzer)
		</a>
	</p>

	<h3>Visual Studio/MSBuild support</h3>
	<p>
		This analyzer requires Visual Studio 2019 on windows, and MSBuild 16.0+ on unix platforms.
	</p>
</div>
